@media screen and (max-width:5050px) {
    .nav__hamburger {
        display: flex;
        z-index: 2;
    }

    .nav__menu {
        position: absolute;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.9);
        top: -100vh;
        height: 100vh;
        width: 100%;
        transition: all ease-in-out 0.4s;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
        /* we will see if above styles can be put in styles or is it required to put in mediaquries */
        
    }

    .nav__menu {
        z-index: 1;
    }

    .nav__menu.active {
        top: 0;
    }

    .nav__hamburger.active .nav__hamburger__line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .nav__hamburger.active .nav__hamburger__line:nth-child(2) {
        opacity: 0;
    }

    .nav__hamburger.active .nav__hamburger__line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}